<div *ngIf="user" class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="user.username"
         readonly
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="user.phone"
         placeholder="phone number"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <input [(ngModel)]="user.address"
         placeholder="address"
         class="form-control"/>
  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>

  <div *ngIf="!user.admin">
    <h2>Courses and Sections ({{sections.length}})</h2>

    <ul *ngIf="isDataLoaded" class="list-group">
      <li *ngFor="let section of sections; let i = index"
          (click)="goToCourseSection(section)"
          class="list-group-item">
        {{courses[i].title + " : "}}
        {{section.name}}
        ({{section.seats}})
        <span class="float-right">grade: unknown</span>
      </li>
    </ul>
  </div>


  <a class="wbdv-danger" (click)="logout()">Logout</a>
  <a routerLink="/home">Home</a>
  <a *ngIf="user.admin" routerLink="/admin">Admin</a>
  <span *ngIf="!user.admin" class="float-right wbdv-danger" (click)="destroyUser()">Destroy Profile</span>
</div>
